body {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*  Chrome and Opera */
}

html {
    background-color: #f1f1f1;
}

.MenuItem {
    background: #FFF;
    cursor: default;
    padding: 5px 10px;
}

.MenuItem:hover {
    background: #e0e0e0;
}

.my-Button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #599bb3;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px 20px;
}

.my-Button:hover {
    background-color: #408c99;
}

.my-Button:active {
    position: relative;
    top: 1px;
}

.gwt-DialogBox {
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px;
}

.gwt-Popup {
    background: #e0e0e0;
}

.Folder, .Folder-selected, .Folder-load {
    color: #4b4b4b;
    cursor: default;
    margin: 4px;
    padding-left: 22px;
}

.Folder {
    background: url(image/folder.png) no-repeat left center;
    background-size: contain;
}

.Folder-selected {
    background: url(image/folder_select.png) no-repeat left center;
    background-size: contain;
}

.Folder-load {
    background: url(image/folder_load.png) no-repeat left center;
    background-size: contain;
}

.Indicator, .Indicator-close, .Indicator-open {
    border: none;
    color: transparent;
    margin: 3px;
    outline: none;
    width: 20px;
}

.Indicator {
    background: none;
}

.Indicator-close {
    background: url(image/folder_close.png) no-repeat;
    background-size: contain;
}

.Indicator-open {
    background: url(image/folder_open.png) no-repeat;
    background-size: contain;
}


